@import "../node_modules/materialize-css/dist/css/materialize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  font-style: normal;
}
